---
pagination:
  data: collections.photoKeywords
  size: 1
  alias: group
permalink: "/keywords/{{ group.slug }}/"
layout: base.njk
eleventyComputed:
  title: "{{ group.key }}"
  description: "Photos tagged {{ group.key }}."
---
<h1 class="page-title">{{ group.key }}</h1>
<p class="page-intro"><a href="/keywords/">All keywords</a></p>
<ul class="gallery-grid">
{% for photo in group.items %}
  <li class="gallery-grid__item">
    <a href="{{ photo.url }}">
      <img src="/images/photos/{{ photo.data.image }}" alt="{{ photo.data.alt }}" loading="lazy" />
      <span class="gallery-grid__caption">{{ photo.data.title }}</span>
    </a>
  </li>
{% endfor %}
</ul>
